<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
        <p>{{data}}</p>
        <p>{{data|lower}}</p>
        <p>{{data|upper}}</p>
        <p>{{data|title}}</p>
        <p>{{data|capfirst}}</p>
        <p>{{data|length}}</p>
        <p>{{data|truncatechars:8}}</p>
        <p>{{data|truncatewords:3}}</p>
        <p>{{data|slice:8}}</p>
        <p>{{da}}</p>
        <p>{{da|date:'f'}}</p>
        <p>{{da|date:'jS'}}</p>
        <p>{{da|date:'F M'}}</p>
        <p>I have {{fa}} car{{fa|pluralize}}</p>
        <p>I have {{fa}} mango{{fa|pluralize:'es'}}</p>
        <p>This car{{fa|pluralize}} {{fa|pluralize:'is,are'}} mine</p>
    </center>
</body>

</html>